body {
  background: linear-gradient(220.55deg, #24cfc4b2 0%, #001c63cb 100%);
}
.tienda {
  h1 {
    color: rgb(22, 48, 5);
    font-size: 40px;
    margin-left: 380px;
  }
  &__indicar {
    width: 460px;
    height: 160px;
    color: #030;
    text-align: start;
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 28px;
    font-size: 25px;
    margin-left: 130px;
    margin-top: 30px;
    border: 5px solid black;
    P {
      color: #000;
      margin: 10px 10px 0;
    }
  }

  &__eleccion {
    display: flex;
    padding: 30px;
    margin: -250px 0 0 700px;
    flex-direction: column;
    button {
      background-color: #999;
      padding: 5px 15px;
      &:active {
        background-color: #555;
      }
    }
  }
  h2 {
    text-align: center;
    color: #505;
  }
  &__formulario {
    &__input {
      text-align: center;
      margin: 5px 0 20px;
    }
    input {
      background-color: #999999;
      border: 2px solid#000;
      padding: 10px;
      &:active {
        background-color: #555;
      }
    }
  }
  h3 {
    text-align: center;
    color: #505;
  }
  &__facturar {
    text-align: center;
    button {
      background-color: #999;
      padding: 10px;
      &:active {
        background-color: #555;
      }
    }
  }
  &__imagenes {
    img {
      border-radius: 10%;
      height: 160px;
      right: 120px;
      border: 5px solid rgb(131, 67, 120);
      margin: 50px 3vw;
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    background: linear-gradient(220.55deg, #24cfc4b2 0%, #001c63cb 100%);
  }
  .tienda {
    h1 {
      color: rgb(22, 48, 5);
      font-size: 40px;
      margin:20px 70px 20px;
    }
    &__indicar {
      width: 340px;
      height: 170px;
      color: #030;
      text-align: start;
      background-color: aqua;
      padding-left:-10px;
      padding-top: 10px;
      padding-bottom: 28px;
      font-size: 20px;
      margin: 30px 0 0 10px;
      border: 5px solid black;
      P {
        color: #000;
        margin: 10px 10px 0;
      }
    }
  
    &__eleccion {
      display: flex;
      padding: 30px;
      margin: 10px 110px 0;
      flex-direction: column;
      button {
        background-color: #999;
        padding: 5px 15px;
        border: 2px solid black;
        &:active {
          background-color: #555;
        }
      }
    }
    h2 {
      text-align: center;
      color: #505;
    }
    &__formulario {
      &__input {
        text-align: center;
        margin: 5px 0 20px;
      }
      input {
        background-color: #999999;
        border: 2px solid#000;
        padding: 10px;
        &:active {
          background-color: #555;
        }
      }
    }
    h3 {
      text-align: center;
      color: #505;
    }
    &__facturar {
      text-align: center;
      button {
        background-color: #999;
        padding: 10px;
        border: 2px solid black;
        &:active {
          background-color: #555;
        }
      }
    }
    &__imagenes {
      img {
        border-radius: 10%;
        height: 100px;
        width: 80px;
        border: 3px solid rgb(131, 67, 120);
        margin: 40px 4vw;
      }
    }
  }
}
