.color{
    color: azure;
    background: rgba(1, 17, 160, 0.8);
    /* margin: 100px; */
    /* margin-bottom: 300px;
    margin-top: 200px;
} */
    margin: 500px 20px 200px 30px;
    padding: 300px;


.verde{
    background: #EEE3CB;

}
