$color-letra: rgb(204, 7, 0);
$color-principal: rgb(20, 116, 17);

.tarea {
  background-color: aqua;
  justify-content: space-evenly;
  gap: 1em;

  .primero {
    color: rgb(255, 230, 0);
   
  }

  .home {
    h2 {
      color: $color-letra;
    }
    p {
      color: $color-principal;
    }
  }
  .curso {
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}
@media (min-width: 768px) {
  .primero {
    justify-content: flex-end;
    color:brown
 
  }
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: crimson;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@for $tarea from 1 through 4 {
  .circle-#{$tarea} {
    animation-name: animacion#{$tarea};
    @keyframes animacion#{$tarea} {
      100% {
        transform: translate(50% * $tarea);
      }
    }

    @if $tarea == 4 {
      animation-direction: alternate-reverse;
    }
  }
}
